{% extends "layout.html" %}
{% from 'macros.html' import center_content, url,size,color,under %}
{% import "bootstrap/wtf.html" as wtf %}

{% block contained_content %}
    <div class="col-sm-6">
        <div id="col1">
            <h1>BBCode Output</h1>
            {% block thebbcode %}
            {% endblock thebbcode %}
        </div>
    </div>
    <div class="col-sm-6">
        <div id="col2">
            <h1>Enter Information</h1>
            {{ wtf.quick_form(form) }}
        </div>
    </div>
{% endblock contained_content %}