{% extends "bootstrap/base.html" %}


{% block title %} Indi Tools{%  endblock title%}
{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('.static', filename='rg.css')}}">
{% endblock %}
{% block navbar %}
{{nav.basicnavbar.render(renderer='custom')}}
{% endblock navbar %}

{% block content %}
    <div class="container-fluid">
        <div class="row-fluid">
        {% block contained_content %}
        {% endblock contained_content %}
        </div>
    </div> <!-- container -->
{% endblock content %}

