{% extends 'bbcode.html' %}
{% block thebbcode %}
    <p> {% if incheader == true %}
        {{ color(vcolor,size(4,center_content(font(vfont,under(reviewheading,headchar))))) }}
        {{ color(vcolor,size(4,center_content(font(vfont,reviewheading)))) -}}
        {{ color(vcolor,size(4,center_content(font(vfont,under(reviewheading,headchar))))) }}
        {% endif %}
        [center]
        [font={{- bfont -}}]
        {% for review in reviews %}
               {{- reviewsep -}} [color=red]{{ url(review.url,review.tagline ) }}[/color] by [b]{{ review
               .who }}[/b]   {{- reviewsep -}}
        {% endfor %}
        [/font]
        [/center]
    </p>
{% endblock thebbcode %}