{%  extends 'bbcode.html' %}
{% block thebbcode %}
    <p>
        {{ color(vcolor,size(4,center_content(font(vfont,under(reviewheading,headchar))))) }}
        {{ color(vcolor,size(4,center_content(font(vfont,reviewheading)))) -}}
        {{ color(vcolor,size(4,center_content(font(vfont,under(reviewheading,headchar))))) }}
        [center]
        [font={{ bfont }}]
        {% for review in reviews -%}
        [color={{ vcolor }}]{{ url(review.url,review.tagline ) }}[/color] by [b]{{ review.who }}[/b]
        {% if not loop.last %}
           {{- reviewsep -}}
        {% endif %}

        {%- endfor %}
        [/font]
        [/center]
    </p>

{% endblock thebbcode %}