{%  extends 'bbcode.html' %}
{% block thebbcode %}
    <pre>---- Copy From The Line Below ----</pre>
    <p> {% if incheader == true %}
        {{ color(vcolor,size(5,center_content(vcenter,font(vfont,under(reviewheading,headchar))))) }} {% if
         vcenter == false %}&#13;{% endif %}
        {{ color(vcolor,size(5,center_content(vcenter,font(vfont,reviewheading)))) -}}{% if
         vcenter == false %}&#13;{% endif %}
        {{ color(vcolor,size(5,center_content(vcenter,font(vfont,under(reviewheading,headchar))))) }}{% if
         vcenter == false %}&#13;{% endif %}
        {% endif %}
        {% if vcenter == true %}[center]{% endif %}
        [font={{- bfont -}}]
        [color={{ vcolor }}]
        {% for review in reviews -%}
        {{ url(review.url,color(vcolor,review.tagline )) }} by [b]{{ review.who }}[/b]
        {% if not loop.last %}{{- reviewsep -}}{% endif %}
        {%- endfor %}
        [/color]
        [/font]
        {% if vcenter == true  %}[/center]{% endif %}
    </p>
    <pre>---- Copy From The Line Below ----</pre>
{% endblock thebbcode %}